name: Sync Merge

permissions:
  contents: write

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  merge-upstream:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Configure Git
        run: |
          git config user.name "GitHub Action"
          git config user.email "action@github.com"

      - name: Merge Upstream
        run: |
          git remote add upstream https://github.com/cmliu/edgetunnel.git
          git fetch upstream
          
          git merge upstream/main --no-edit
          git push origin main
